:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  background-color: #333333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-black: #000000;
  --color-dark-grey: #333333;
  --color-light-grey: #cccccc;
  --color-accent-grey: #e0e0e0;
  --color-light-blue: #007bff;
  --color-pastel-blue: #d9edf7;
  --color-turquoise: #00a19d;

  --color-text: var(--color-light-grey);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* APP root */
#root {
  /* TODO */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*  
Фоновый цвет (светлый серый или белый):
#F5F5F5 (очень светлый серый)
#FFFFFF (чисто белый)

Основной текст (темно-серый или черный):
#333333 (глубокий серый)
#000000 (чисто черный)

Акцентные цвета (например, для выделения прогресса):
#007BFF (светло-синий)
#00A19D (нейтральный бирюзовый)

Цвет для навигации или разделителей:
#CCCCCC (светло-серый для линий и границ)

Фон кнопок или выделенных элементов:
#E0E0E0 (светлый серый с небольшим контрастом)
#D9EDF7 (пастельно-синий)
*/
